<%
let OK = "<span style=\"color: green;\">OK</span>";
let KO = "<span style=\"color: tomato;\">KO</span>";
%>

<!DOCTYPE html>
<html>
<head>
    <title>Servers status</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Servers status</h1>
    <p>Last update : <%= last_load %>
    <% servers.forEach(function(server) { %>
        <div class="server-container">
            <h3><%= server.name %></h3>
            <div class="status-wrapper">
                <% if (typeof server.ping !== "undefined") { %>
                    <div class="ping-wrapper">
                        <p>Status ping : <% if (server.ping) { %><%- OK %><% } else { %><%- KO %><% } %> </p>
                    </div>
                <% } %>
                <% if (typeof server.nmap !== "undefined") { %>
                    <div class="nmap-wrapper">
                        <p>Status nmap : <% if (server.nmap) { %><%- OK %><% } else { %><%- KO %><% } %> </p>
                        <% server.nmap_message.forEach(function(msg) { %>
                            <p><%= msg %></p>
                        <% }); %>
                    </div>
                <% } %>
                <% if (typeof server.req !== "undefined") { %>
                    <div class="req-wrapper">
                        <p>Status requete : <% if (server.req) { %><%- OK %><% } else { %><%- KO %><% } %> </p>
                        <% server.req_message.forEach(function(msg) { %>
                            <p><%= msg %></p>
                        <% }); %>
                    </div>
                <% } %>
            </div>
        </div>
    <% }); %>
</body>
</html>
